body {
	background-image: url("../images/background.jpg");
	h2{
		color: white;
		font-family: gill sans;
		font-size: 220%;
	}
	.conatiner	{
		height: 200px
		display: flex;
		align-items: center;
		justify-content: center;
	}
	}
	}

}
