body {
	font-family: sans-serif;
<<<<<<< HEAD
	background: #fff URL("../Images/Background.jpg");		}
	body img {
		width: 70%;	}
=======
	background: #fff URL("../images/Background.jpg");		}
	body img {
		width: 100%;	}
>>>>>>> 1fd2f46093c9f9e452b5232601ec8c526af53c38
